<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">

<script>

document.addEventListener('DOMContentLoaded', function() {

  let metafields = {{ shop.metafields.chatapp.phone }};
  console.log(metafields)

  const toggles = Object.values(metafields).reduce((arr, value) => {
    arr.push(value)
      return arr;
  }, []);
  console.log(toggles);

  console.log(toggles[1].messangerToggle)


  if(toggles[0].numberToggle == true){
    const element = document.getElementById("myElement");
    element.style.display = "block";
  }
  if(toggles[1].messangerToggle == true){
    const elements = document.getElementById("myElements");
    elements.style.display = "block";
  }
  if(toggles[2].instagramToggle == true){
    const elementss = document.getElementById("myElementss");
    elementss.style.display = "block";
  }
  if(toggles[3].emailToggle == true){
    const elementsss = document.getElementById("myElementsss");
    elementsss.style.display = "block";
  }



  <!-- whatsapp -->
  const whatsappLink = `https://wa.me/${metafields.Phone.phone}`;

  const openWhatsApp = () => {
    window.open(whatsappLink, '_blank');
  };

  const whatsappButton = document.getElementById('whatsappLink');
  whatsappButton.addEventListener('click', openWhatsApp);


  <!-- messanger -->
  const messangerLink = `https://m.me/{metafields.Messanger.messanger}`;

  const openMessanger = () => {
    window.open(messangerLink, '_blank');
  };

  const messangerButton = document.getElementById('messangerLink');
  messangerButton.addEventListener('click', openMessanger);


  <!-- instagram -->
  const instagramLink = `https://www.instagram.com/${metafields.Instagram.instagram}`;

  const openInstagram = () => {
    window.open(instagramLink, '_blank');
  };

  const instagramButton = document.getElementById('instagramLink');
  instagramButton.addEventListener('click', openInstagram);


  <!-- email -->
  const emailLink = `mailto:${metafields.Email.email}`;

  const openEmail = () => {
    window.open(emailLink, '_blank');
  };

  const emailButton = document.getElementById('emailLink');
  emailButton.addEventListener('click', openEmail);


  <!-- phone -->
  const phoneLink = `tel:${metafields.Phone.phone}`;

  const openPhone = () => {
    window.open(phoneLink, '_blank');
  };

  const phoneButton = document.getElementById('phoneLink');
  phoneButton.addEventListener('click', openPhone);

});

  function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
  }

</script>


 <div class="popup" onclick="myFunction()">
    <i class="fa-solid fa-comment-dots my-float">
  
      <span class="popuptext" id="myPopup">
     <div id="myElement">
        <a id="whatsappLink" target="_blank">
          <i class="fab fa-whatsapp whatsapp-icon float"></i>
        </a>
           </div>
      <div id="myElements">
        <a id="messangerLink" target="_blank">
          <i class="fab fa-facebook-messenger messanger-icon"></i>
        </a>
      </div>
      <div id="myElementss">
        <a id="instagramLink" target="_blank">
          <i class="fab fa-instagram instagram-icon"></i>
        </a>
        </div>
      <div id="myElementsss">
        <a id="emailLink" target="_blank">
          <i class="far fa-envelope email-icon float"></i>
        </a>
      </div>
      <div id="myElement">
     
        <a id="phoneLink" target="_blank">
          <i class="fas fa-phone phone-icon"></i>
        </a>

         </div>
      
      </span>
    
    </i>
  </div>




</head>

{% schema %}
  {
    "name": "Chat App",
    "target": "head",
    "settings": [  ]
  }
{% endschema %}